<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$23,567</h2>
        <p class="text-muted f-w-400 f-16">
          <span class="text-c-blue">Amount</span> received</p>
      </div>
      <span id="amount-processed">0,10,22,15,38,42,48,32,30,40,58,70</span>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$14,552</h2>
        <p class="text-muted f-w-400 f-16">
          <span class="text-c-pink">Amount</span> sent</p>
      </div>
      <span id="amount-spent">0,15,18,10,30,35,50,35,40,40,58,60</span>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <!-- <div class="col-md-12 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$31,156</h2>
        <p class="text-muted f-w-400 f-16"><span class="text-c-yellow">Profit</span> processed</p>
      </div>
      <span id="profit-processed">0,25,8,10,35,30,50,35,40,20,60,30</span>
    </div>
  </div> -->
  <!-- card3 end -->

  <!-- balance Start -->
  <div class="col-md-12 col-xl-4">
    <app-card [title]="'Your balance'" [cardClass]="'balance-card'">
      <h2>$167.20</h2>
      <button class="btn btn-primary m-t-15 m-b-10">Recharge now</button>
      <!-- <p class="text-muted f-15">Payment of next month</p> -->
      <!-- <h4 class="text-muted f-18 f-w-600">$167.20</h4> -->
      <!-- <div class="progress m-t-30">
        <div class="progress-bar" role="progressbar " aria-valuemin="0 " aria-valuemax="100 " style="width:60% "></div>
      </div> -->
    </app-card>
  </div>

  <!-- email Sent Start -->
  <!-- <div class="col-md-12 col-xl-12">
    <app-card [title]="'Email sent'" [cardClass]="'email-sent-card'">
      <div id="email-sent" style="max-width:100%;height:400px;"></div>
    </app-card>
  </div> -->
  <!-- email Sent End -->

  <!-- Statistics Start -->
  <div class="col-md-12">
    <app-card [title]="'NEM Charts'">
      <div id="line-example" class="line-example">
        <div id="statistics-chart" style="height:300px;"></div>
      </div>
    </app-card>
  </div>


  <!-- marketing Start -->
  <div class="col-md-12">
    <app-card [title]="'Recent Activity'" [blockClass]="'marketing-card p-t-0'">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Account</th>
              <th>Amount</th>
              <th>Message</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="6" class="marketing-header">Today</td>
            </tr>
            <tr>

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-green"></i>
                <p class="m-l-10 text-c-green">6.45%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-green btn-outline-default btn-round btn-action">Confirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
            <tr>

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-green"></i>
                <p class="m-l-10 text-c-green">2.34%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-green btn-outline-default btn-round btn-action">Confirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
            <tr>

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-pink"></i>
                <p class="m-l-10 text-c-pink">-3.45%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-green btn-outline-default btn-round btn-action">Confirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
            <tr>

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-green"></i>
                <p class="m-l-10 text-c-green">6.45%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-yellow btn-outline-default btn-round btn-action">Unconfirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
            <tr>
              <td colspan="6" class="marketing-header">Yesterday</td>
            </tr>
            <tr>

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-pink"></i>
                <p class="m-l-10 text-c-pink">6.45%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-yellow btn-outline-default btn-round btn-action">Unconfirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
            <tr class="b-b-default">

              <td>
                <p class="text-muted">TCNYR4-MDC2H6-LB5ZBI-F4QVOB-BFDUNJ-ALHCMW-QRVE</p>
              </td>
              <td>
                <i class="icofont icofont-bird text-c-pink"></i>
                <p class="m-l-10 text-c-pink">2.34%</p>
              </td>
              <td>
                <span>Hello!</span>
              </td>
              <td>
                <span>2/2/2018</span>
              </td>
              <td>
                <button class="btn btn-default btn-bg-c-green btn-outline-default btn-round btn-action">Confirmed</button>
              </td>
              <td>
                <i class="icofont icofont-brand-flikr text-muted"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="row marketing-card-footer">
        <div class="col-sm-9">
          <!-- <div class="d-inline-block m-r-20">
            <h6 class=" m-l-10 m-b-20 f-w-600 f-14">Last week status</h6>
            <div class="tab-cont m-l-10">
              <span class="last-week-report" data-peity='{"innerRadius": 10, "radius": 16 }'>1,2,3,2</span>
              <p>56,345
                <i class="icofont icofont-long-arrow-up text-c-green d-inline-block"></i>
                <span class="text-c-green d-inline-block">( +15.70% )</span>
              </p>
            </div>
          </div>
          <div class="d-inline-block">
            <h6 class=" m-l-10 m-b-20 f-w-600 f-14">Last month status</h6>
            <div class="tab-cont m-l-10">
              <span class="last-month-report" data-peity='{"innerRadius": 10, "radius": 16 }'>1,3,4,2</span>
              <p>5,845
                <i class="icofont icofont-long-arrow-down text-c-pink d-inline-block"></i>
                <span class="text-c-pink d-inline-block">( +1.65% )</span>
              </p>
            </div>
          </div> -->
        </div>
        <div class="col-sm-3 text-right">
          <button class="btn btn-primary">View more</button>
        </div>
      </div>
    </app-card>
  </div>
  <!-- marketing End -->
</div>

    <!-- Tab variant tab card start -->
    <!-- <app-card [title]="'Tab variant'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'tab-icon'">
      <div class="row">
        <div class="col-lg-12">
          <div class="sub-title">Tab With Icon</div>
          <div class="md-tabs">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-home"></i>Home</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-user "></i>Profile</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">2. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-message"></i>Messages</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-settings"></i>Settings</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">4. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </app-card> -->
    <!-- Tab variant tab card start -->
